.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  > div {
    max-width: 350px;
    padding: 20px;
  }

  .error {
    color: $mdc-theme-error;
  }
}