#NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  > .mdc-card {
    max-width: 350px;
    padding: 20px;
  }

  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
}