{% extends 'base.html' %}
{% load static %}

{% block header %}
    <base href="{{ base }}">
{% endblock %}

{% block content %}
    <div class="login-form">
        <div class="mdc-elevation--z6">
            <img src="{% static "img/logo.png" %}" alt="Louise Misell Interiors logo">
            
            <p class="mdc-typography--body1">
                Hello!<br>
                Someone has requested to login with your email, if this was you follow this link to login. <br>
                If not no need to worry, simply delete this email.
            </p>
            
            <p class="mdc-typography--body1">
                <a href="{{ link }}">Click here to login</a>
            </p>
        </div>
    </div>



    <style>
        body {
            padding: 50px;
        }

        .login-form > div {
            max-width: 500px;
        }

        .login-form img {
            width: 50%;
        }
    </style>
{% endblock %}