$mdc-theme-primary: #2D76C4;
$mdc-theme-surface: lighten($mdc-theme-primary, 50%);

@import "@material/typography/mdc-typography";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

@import "login/login_form";